/krasa-common/target/
/krasa-cxf-xjc-plugin-example/target/
/krasa-maven-jaxb2-plugin-example/target/
/krasa-cxf-codegen-plugin-example/target/
/krasa-cxf-codegen-plugin-example/nb-configuration.xml
/krasa-cxf-xjc-plugin-example/nb-configuration.xml
/nb-configuration.xml
/krasa-maven-jaxb2-plugin-example/src/generated/
/krasa-jaxb2-maven-plugin-example/target/
/krasa-common/nbproject/
/krasa-jaxb2-maven-plugin-example/nbproject/
/krasa-jaxb2-maven-plugin-example/nb-configuration.xml
/krasa-cxf-codegen-javax-plugin-example/target/
/krasa-javax-common/target/
/krasa-jakarta-common/target/
/krasa-cxf-xjc-javax-plugin-example/target/
/krasa-cxf-xjc-jakarta-plugin-example/target/
/krasa-maven-jaxb2-plugin-javax-example/target/
/krasa-cxf-xjc-plugin-jakarta-example/target/
/krasa-cxf-xjc-plugin-javax-example/target/
/krasa-cxf-codegen-plugin-jdk21-javax-example/target/
/krasa-cxf-xjc-plugin-jdk21-javax-example/target/
/krasa-cxf-xjc-plugin-jdk21-jakarta-example/target/
/krasa-maven-jaxb2-plugin-jdk21-javax-example/target/
/krasa-cxf-codegen-jakarta-jdk21-plugin-example/target/
/krasa-cxf-codegen-jakarta-plugin-jdk21-example/target/
/krasa-cxf-codegen-plugin-javax-jdk21-example/target/
/krasa-cxf-xjc-plugin-jakarta-jdk21-example/target/
/krasa-maven-jaxb2-plugin-javax-jdk21-example/target/
/krasa-cxf-xjc-plugin-javax-jdk21-example/target/
/krasa-jakarta-test-helper-jdk21/target/
/krasa-test-helper-javax-jdk21/target/
/krasa-cxf-codegen-plugin-jakarta-jdk21-example/target/
/krasa-test-helper-jakarta-jdk21/target/
/krasa-jaxb2-maven-plugin-javax-jdk11-example/target/
/krasa-jaxb2-maven-plugin-javax-jdk21-example/target/
/krasa-maven-jaxb2-plugin-jakarta-jdk21-example/target/
/krasa-jaxb2-maven-plugin-jakarta-jdk21-example/target/
/krasa-jaxb-maven-plugin-javax-jdk21-example/target/
/krasa-jaxb-maven-plugin-jakarta-jdk21-example/target/
